.container{

  display: flex;

  justify-content: space-between;

flex-wrap: wrap;

}


@media(max-width:768px) {
  .button{
    position: absolute;
    padding: 0,10vw;
    
  }
}
.button{
  overflow: hidden;
  position: relative;

  
}


 /* nav {
  padding: 2vw 0vw;
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  justify-content: space-between;
} */

/* #nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
} */
 

ul li  {
  padding: 10px 20px;
 
  border-radius: 50px;
  font-weight: 500;

  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  z-index: -9999;
  color: black;
  overflow: hidden;
}


ul li a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
z-index: -9999;
color: black;
  background-color: rebeccapurple;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

ul li a:hover::after {
  bottom: 0;
  z-index: -9999;

color: black;
background-color: rebeccapurple;
  border-radius: 0;
}

html,body{
  overflow-x: hidden;

}


@media (  max-width:560px) {
#head{
  font-size: 4vw;
}
  #badges{
   width: 100pc;
   
  }

}