.container{

  display: flex;

  justify-content: space-between;

flex-wrap: wrap;

}


@media(max-width:768px) {
  .button{
    position: absolute;
    padding: 0,10vw;
    
  }
}


#btn{
  background-color: black;
overflow: hidden;


}



#btn h5{

z-index: 9999;
color: white;

padding: .6vw .6vw;

position: relative;
}
#btn h5::after{
  content: '';
  height: 100%;
  width: 100%;
  padding: 800px 800px;
  position: absolute;
  left: -140%;
  top: 3vw;
  transition: all ease-in-out .3s;
  z-index: -9999;
  border-radius: 500px 900px;

  background-color: rgb(70, 153, 51);

}
#btn h5:hover::after{
  border-radius: 400px 300px;
  padding: 600px 400px; 
  position: absolute;
  font-weight: 900;
  top: -2vw;
  bottom: 0;
  transition: all ease-in-out .8s;
  z-index: -9999;
  color: black;
  border-radius: 50px 300px;
  background-color: rgb(70, 153, 51);


}


ul li  {
  padding: 10px 20px;
 
  border-radius: 50px;
  font-weight: 500;

  transition: all ease 0.8s;
  position: relative;
  font-size: 18px;
  z-index: -9999;
  color: black;
  overflow: hidden;
}


ul li a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -9999;
  color: black;
  background-color: rgb(70, 153, 51);
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease-in-out 0.2s;
}

ul li a:hover::after {
  bottom: 0;
  z-index: -9999;
  transition: all ease-in-out .3s;
  color: black;
  background-color: rgb(70, 153, 51);
  border-radius: 0;
}

html,body{
  overflow-x: hidden;

}


@media (  max-width:560px) {
#head{
  font-size: 4vw;
}
  #badges{
   width: 100pc;
   
  }

}